/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
  color: #222;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
  font: 16px Helvetica, Helvetica Neue, Arial;
}

p, li {
  line-height: 1.625em;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
}

/* ===================
   ALL: Theme
   =================== */

.header-container {
  padding: 2% 0;
  border-bottom: 1em solid #777A7F;
}

.footer-container {
  border-top: 20px solid #777A7F;
}

.footer-container h4 {
  text-align: center;
}

.header-container,
.footer-container {
  background: #888A8F;
}

.title {
  color: white;
  text-align: center;
}

h1.title {
  clear: both;
}

h2.title {
  font-weight: normal;
}

/* ==============
   MOBILE: Menu
   ============== */

nav.textual ul {
  margin: 0;
  padding: 0;
}

nav.textual a {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;

  text-align: center;
  text-decoration: none;
  font-weight: bold;

  color: white;
  background: #cc0000;
  font-size: 14px;
}

nav.textual a:hover,
nav.textual a:visited {
  color: white;
}

nav.textual a:hover {
  text-decoration: underline;
}

nav.graphical {
  display: none;
  padding-bottom: 2em;
}

/* ==============
   MOBILE: Main
   ============== */

.main {
  padding: 30px 0;
}

.main article h1 {
  font-size: 2em;
}

.main article h2 {
  color: gray;
  font-weight: lighter;
}

.main article h2 strong {
  color: #cc0000;
  font-weight: bold;
}

.main article h2:after {
  content: "…";
}

.main article header img {
  float: right;
  margin: 1em 0 1em 1em;
  max-height: 350px;
  max-width: 30%;
}

.download,
.home {
  color: white;
  padding: 1em;
  text-decoration: none;
  top: .5em;
}

.home {
  float: left;
  left: 2%;
}

.download:hover,
.home:hover {
  text-decoration: underline;
}

.home img {
  height: 40px;
  width: 40px;
  margin-right: .5em;
}

.download {
  float: right;
  right: 2%;
}

.download img {
  height: 40px;
  width: 40px;
  margin-left: .5em;
}

.footer-container footer {
  color: white;
  padding: 20px 0;
}

footer a {
  color: white;
}

/* ===============
   ALL: IE Fixes
   =============== */

.ie7 .title {
  padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a {
  color: blue;
}

a.need-url {
  color: red;
  font-style: italic;
}













/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 641px) {

  /* ====================
     INTERMEDIATE
     ==================== */

  body {
    display: none;
  }

  .main article header img {
    margin: 1em 1em 2em 2em;
  }

  body {
    background-image: url("../img/bg.jpg");
    background-position: top center;
  }

  .download,
  .home {
    position: absolute;
    top: 1.4em;
  }

  .download {
    right: 5%;
  }

  .home {
    left: 5%;
  }

  h1.title {
    padding: 0 5em; /* so it doesn't overlap with home link */
  }

  .header-container,
  .footer-container {
    background: transparent;
  }

  .header-container {
    position: relative;
    border-bottom: 0;
  }

  .footer-container {
    border-top: 0;
  }

  .main-container {
    background-color: white;
    display: none;

    -webkit-box-shadow: 0 0 50px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0 0 50px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0 0 50px 0px rgba(50, 50, 50, 0.75);
  }

  article {
    display: none;
  }

  .main article nav {
    margin-top: 2em;
  }

  .main article nav .prev {
    float: left;
  }

  .main article nav .next {
    float: right;
  }

  .main article nav .prev::before {
    content: '←';
  }

  .main article nav .next::after {
    content: '→';
  }

  nav.textual {
    display: none;
  }

  nav.graphical {
    display: block;
    position: relative;
  }

  nav.graphical img {
    max-width: 100%;
  }

  nav.graphical #ball {
    top: -200%;
    position: absolute;
    transition: 1s;
  }

  nav.graphical #ball.i,
  nav.graphical #ball.iii {
    max-height: 16.3%;
  }

  nav.graphical #ball.ii,
  nav.graphical #ball.iv {
    max-height: 12.8%;
  }

  nav.graphical .click-target {
    cursor: pointer;
    position: absolute;
  }

  nav.graphical .click-target.i {
    height: 42%;
    width: 50%;
    bottom: 0;
    left: 0;
  }

  nav.graphical .click-target.ii {
    height: 58%;
    width: 50%;
    top: 0;
    left: 0;
  }

  nav.graphical .click-target.iii {
    height: 42%;
    width: 50%;
    bottom: 0;
    right: 0;
  }

  nav.graphical .click-target.iv {
    height: 58%;
    width: 50%;
    top: 0;
    right: 0;
  }
}

@media only screen and (min-width: 1140px) {

  /* ===============
     Maximal Width
     =============== */

  .wrapper {
    width: 1026px; /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.nobr {
  white-space: nowrap;
}

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
      text-decoration: underline;
    }

    a[href]:after {
      content: " (" attr(href) ")";
    }

    abbr[title]:after {
      content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
      content: "";
    }

    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }

    thead {
      display: table-header-group;
    }

    tr,
    img {
      page-break-inside: avoid;
    }

    img {
      max-width: 100% !important;
    }

    @page {
      margin: 0.5cm;
    }

    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 {
      page-break-after: avoid;
    }
}